* {
    box-sizing: border-box;
  }
body {
    margin: auto;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }

  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #065907;
    color: white;
  }

  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .topnav .search-container {
      display: inline-block;
  }

  .topnav .search-container button {
    float: left ;
    padding: 6px 10px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .topnav .search-container button:hover {
    background: #ccc;
  }

  .topnav .cart {
    float: right;
  }

/* Create two equal columns that floats next to each other */
.column:first-of-type {
    width: 25%;
    border-right: 5px solid black;
}

.column:last-of-type {
    width: 75%;
}

.column {
  float: left;
  padding: 10px;
  height: 1080px;
}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
  clear: both;
}

.logo {
    display: block;
    width: 50%;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-auto-rows: 1fr;
}

.article {
    text-align: center;
}

.container a {
  text-decoration: none;
  border: 1px solid #065907;
  border-radius: 10px;
  color: black;
  margin: 10px;
}

.container a:hover {
  color: white;
  background: #065907;
}

.article img {
    margin-top: 10px;
    width: 90%;
}

.product {
  width: 60%;
  margin: auto;
  text-align: center;
}

.product button {
  background-color: #065907;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 2px;
  cursor: pointer;
  width: 100%;
  display: block;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
}
